<footer class="bg-dark text-white text-center py-3">
    <div class="container">
      <div class="row align-items-center mb-2">
        <div class="col-auto">
          <a href="mailto:webcal-contact.popsicle423@passmail.net"><i class="fa-solid fa-envelope"></i></a>
        </div>
        <div class="col text-start">
          <a class="mb-0" href="mailto:webcal-contact.popsicle423@passmail.net">Nous contacter</a>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-auto">
          <a href="legal-mentions.php"><i class="bi bi-info-circle-fill"></i></a>
        </div>
        <div class="col text-start">
          <a class="mb-0" href="legal-mentions.php">Mentions légales</a>
        </div>
      </div>
    </div>
    <p>License: GPLv3+</p>
</footer>
